@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	/* Scrollbar style*/
	* {
        scroll-behavior: smooth;
    }

    *::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #F6F6F6;
        border-radius: 50px;
       
    }

	/* Input-Span down/up Effect */
	.inputBox input:not(:placeholder-shown) ~ span,
	.inputBox textarea:not(:placeholder-shown) ~ span,
	.inputBox input:focus ~ span,
	.inputBox textarea:focus ~ span {
		transform: translateY(-20px);
		font-size: 14px;
		color: #f6f6f6;
	}

	/* Email sent/notSent Animation */
	.sentEmailAnimation {
		animation: onSentEmail 1s ease-in forwards running;
	}

	@keyframes onSentEmail {
		0% {
			opacity: 0;
			box-shadow: 0px 0px 0px #f6f6f6;
			transform: translate(-50%, -50%) scale(0);
		}

		50% {
			opacity: 0.5;
			box-shadow: 0px 0px 40px #f6f6f6;
			transform: translate(-50%, -50%) scale(2);
		}

		100% {
			opacity: 1;
			box-shadow: 0px 0px 20px #f6f6f6;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
